@use '../variables' as *;

.film {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 2rem;
    align-items: start;
    margin-top: 1rem;
}

.film__media img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

.film__content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 1rem;
}

.film__title {
    font-size: 2rem;
    font-weight: 700;
}

.film__category {
    display: inline-block;
    margin-top: -0.5rem;
    padding: .15rem;
    font-size: .6rem;
    border-radius: 3px;
}

.film__tagline {
    color: $text-muted;
    font-style: italic;
}

.film__overview p {
    line-height: 1.6;
}

.film__actions {
    margin-top: .5rem;

    button {
        font-size: .9rem;
        padding: .5rem;
        border-radius: 5px;
    }

    .btn--remove {
        font-size: .9rem;
        padding: .5rem;
        border-radius: 5px;
        background-color: $text-muted;
    }
}

.film--adventure {

    .btn,
    .film__category {
        background: $theme-adventure;
    }
}

.film--history {

    .btn,
    .film__category {
        background: $theme-history;
    }
}

.film--animation {

    .btn,
    .film__category {
        background: $theme-animation;
    }
}

@media (max-width: 860px) {
    .film {
        grid-template-columns: 1fr;
    }
}