.wishlist {
    margin: 2rem 0;

    h2 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 1rem;
    }

    li {
        position: relative;
        background: #1f1f1f;
        border-radius: 8px;
        overflow: hidden;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.2rem;
        z-index: 200;
        padding: 0 0.5rem;
        background-color: rgba($color: #000000, $alpha: .5);
    }
}