$failure: #dc3545;
$theme-adventure: #a78928;
$theme-history: #a72828;
$theme-animation: #0b7627;

$background: #141414;
$card: #1f1f1f;
$text-light: #ffffff;
$text-muted: #aaaaaa;
$accent: #e50914;

$card-hover-shadow: rgba(0, 0, 0, 0.7);