$theme-adventure: #129ce7;
$theme-history: #7a3b56;
$theme-animation: #0cc13d;

$background: #141414;
$card: #1f1f1f;
$text-light: #ffffff;
$text-muted: #aaaaaa;
$accent: #e50914;

$card-hover-shadow: rgba(0, 0, 0, 0.7);