@use './variables' as *;

// RESET 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    color: $text-light;
}

ol,
ul,
li {
    list-style: none;
    text-decoration: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

// APP 
body {
    background-color: $background;
    color: $text-light;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 2rem;
}