@import './_variables';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: $background;
    color: $text-light;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: $text-light;
}

ol,
ul,
li {
    list-style: none;
    text-decoration: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

button {
    border: none;
}

button:focus {
    outline: none;
    border: none;
}

textarea {
    resize: none;
}