@import './_variables';

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: $background;
    color: $text-light;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: $text-light;
}